@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-main: #003459;
    --dark-main-light: #002E4F;
    --main: #306F9C;
    --grey-main: #5F839E;
}

body {
    font-family: "Oswald", sans-serif;
}

header {
    background-color: var(--dark-main);
    color: white;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 1rem;
}

.burger-icon {
    width: 40px;
}


.grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    height: 89dvh;
}


.options {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: -400px;
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.4s linear;
}

.options-header {
    padding: 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.options-header button {
    background-color: var(--dark-main);
    border-radius: 5px;
    padding: 0.4rem 0.6rem;
    border: 1px solid white;
}

.close {
    width: 25px;
}

.active {
    left: 0;
}


.options-container {

    border-radius: 5px;
    margin-block: 0.5rem;
}

.options-container-header {
    display: flex;
    background-color: var(--dark-main-light);
    color: white;
    border-radius: 5px 5px 0 0;
    padding: 1rem;
    cursor: pointer;
}

.options-container-h2 {
    flex-basis: 85%;
}

.options-container-button {
    background-color: var(--main);
    color: white;
    font-size: 1rem;
    border-radius: 50%;
    flex-basis: 15%;
    transition: all 0.4s;
    line-height: 1.5rem;
    transform: rotateZ(270deg);
}

.options-container-button::after {
    content: '\276F';
}

.button-flip {
    transform: rotateZ(90deg);
}

.options-container-h2-closed {
    border-radius: 5px;
    background-color: var(--dark-main);
}

.options-container-grid {
    display: grid;
    padding: 0.4rem;
    width: 100%;
    background-color: white;
    border-radius: 0 0 5px 5px;
    transition: all 0.4s;
    position: relative;
}

.accordion-close {
    max-height: 0;
    overflow: hidden;
    padding: 0;
}

.grid-colour {
    grid-template-rows: repeat(3, 30px) 20px 20px;
    grid-template-columns: repeat(5, 50px);
    padding-inline: 1rem;
    gap: 10px 0;

}


.delete-button {
    position: absolute;
    background-color: red;
    padding: 0.3rem 0.6rem;
    border-radius: 5px;
    cursor: pointer;
}

.delete-colour-pos {
    top: 10px;
    right: 18px;
}

.delete-border-pos {
    top: 37%;
    right: 18px;
}

.tick-grad-label {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.box-colour {
    grid-column: 1/2;
    grid-row: 2/3;
}

.box-colour-2 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.grad-deg {
    width: 40px;
    text-align: center;
    border: 2px solid var(--dark-main);
}

.grad-deg-label {
    grid-column: 1/5;
    grid-row: 3/4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.linear-1 {
    grid-column: 1/5;
    grid-row: 4/5;
}

.linear-2 {
    grid-column: 1/5;
    grid-row: 5/6;
}



.all-padding-container,
.separate-padding-container {
    padding: 0.2rem 1rem;
}

.padding-type-grid {
    display: flex;
    gap: 1rem;
    padding: 0.4rem 1rem;
}

.all-padding-number,
.top-padding-number,
.right-padding-number,
.bottom-padding-number,
.left-padding-number,
.top-position-number,
.right-position-number,
.bottom-position-number,
.left-position-number {
    width: 40px;
    border: 2px solid var(--dark-main);
}

.separate-padding-options {
    display: flex;
    flex-flow: column;
    padding: 1rem;
}

.grid-border {
    grid-template-rows: repeat(6, 34px);
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
    padding-inline: 1rem;
    gap: 10px 0;
}

.slider-number-label {
    grid-column: 1/5;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.slider {
    grid-column: 1/4;
    grid-row: 2/3;
}

.slider-number {
    width: 40px;
    border: 2px solid var(--dark-main);
}

.border-number-label {
    grid-column: 1/5;
    grid-row: 3/4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.border-number {
    width: 40px;
    border: 2px solid var(--dark-main);
}

.border-slider {
    grid-column: 1/4;
    grid-row: 4/5;
}

.border-radio {
    margin: auto 0;
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    gap: 0 5px;
    grid-column: 1/4;
    grid-row: 5/6;
}

.border-colour-label {
    grid-column: 1/4;
    grid-row: 6/7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-block: 10px;
}

.grid-shadow {
    grid-template-rows: repeat(5, 30px);
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
    padding-inline: 1rem;
    gap: 10px 0;
}

.shadow-x-label,
.shadow-y-label,
.shadow-blur-label,
.shadow-spread-label,
.shadow-colour-label {
    grid-column: 1/5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.shadow-x-label {
    grid-row: 1/2;
}

.shadow-y-label {
    grid-row: 2/3;
}

.shadow-blur-label {
    grid-row: 3/4;
}

.shadow-spread-label {
    grid-row: 4/5;
}

.shadow-colour-label {
    grid-row: 5/6;
}


.position-type {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem 0.5rem;
    padding: 0.5rem 1rem;
}

.position-type label {
    flex-basis: 30%;
}

.position-on {
    padding: 0.5rem 1rem;
}

.position-type-grid {
    padding: 0.5rem 1rem;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.position-numbers {
    padding: 0 1rem;
    display: flex;
    flex-flow: column;
}


.action {
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.css-code {
    background-color: var(--grey-main);
    padding: 1rem;
    position: relative;
}

.css-code-block {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    font-weight: bold;
    overflow: hidden;
}


.box {
    background-repeat: no-repeat;
    background: var(--main);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: hidden;
}

.inner-box {
    position: relative;
    background-color: transparent;
    height: 100%;
    width: 100%;
}

.colour-inner-box {
    background-color: black;
}



.box-hide {
    display: none;
}

.box-invisible {
    visibility: hidden;
}

.box-show {
    display: block;
}

.paste {
    padding: 1rem 2rem;
    position: absolute;
    bottom: 25px;
    right: 25px;
    background-color: #57cc99;
    z-index: 5;
    border-radius: 5px;
    border: 2px solid #10451d;
    cursor: pointer;
    font-weight: bold;

}

.copied {
    background-color: #22577a;
    color: white;
}


.css-name {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: var(--dark-main);
    color: white;
    padding: 1rem;
    border-radius: 5px;
    z-index: 2;
}

.css-name input {
    padding: 0.2rem;

}

.css-name-radio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0;
    gap: 0.5rem;
}

footer {
    background-color: var(--dark-main);
    color: white;
    padding: 3rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 1rem;
}

.footer-list {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
    list-style: none;
    flex-basis: 14%;
}

.footer-list-links {
    cursor: pointer;
}

.footer-list-links:hover {
    color: grey;
}

.footer-list-links a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    justify-content: space-evenly;
}

.footer-list-links img {
    width: 15px;
}




/* scroll bar */

/* width */
::-webkit-scrollbar {
    width: 10px;
    background-color: #efefef
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #003554;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #14213d;
    cursor: pointer;
}


@media only screen and (min-width: 900px) {

    .burger {
        display: none;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 3fr 1fr;
        height: 89dvh;
    }

    .css-code {
        grid-column: 2 / 3;
    }

    .options {
        position: relative;
        left: 0;
        background-color: var(--main);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        grid-row: 1/3;
        overflow-y: scroll;
        overflow-x: hidden;
    }


    .options-header {
        display: none;
    }

    .footer-list {
        flex-flow: row;
        align-items: center;
    }


}