@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
}

header {
    background-color: #003459;
    color: white;
    padding: 1.6rem 1rem;
}


.grid {
    display: grid;
    background-color: burlywood;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 3fr 1fr;
    height: 89dvh;
}


.options {
    background-color: #023e7d;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    grid-row: 1/3;
    overflow-y: scroll;
    overflow-x: hidden;
}

.options-container {

    border-radius: 5px;
    margin-block: 1rem;
}

.options-container h2 {
    background-color: #003459;
    color: white;
    border-radius: 5px 5px 0 0;
    padding: 1rem;
}

.options-container-grid {
    display: grid;
    padding: 0.4rem;
    width: 100%;
    background-color: white;
    border-radius: 0 0 5px 5px;
}

.grid-colour {
    grid-template-rows: repeat(3, 30px) 20px 20px;
    grid-template-columns: repeat(5, 50px);
    padding-inline: 1rem;
    gap: 10px 0;

}


.tick-grad-label {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.box-colour {
    grid-column: 1/2;
    grid-row: 2/3;
}

.box-colour-2 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.grad-deg {
    width: 40px;
    text-align: center;
    border: 2px solid #023e7d;
}

.grad-deg-label {
    grid-column: 1/5;
    grid-row: 3/4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.linear-1 {
    grid-column: 1/5;
    grid-row: 4/5;
}

.linear-2 {
    grid-column: 1/5;
    grid-row: 5/6;
}




.grid-border {
    grid-template-rows: repeat(6, 34px);
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
    padding-inline: 1rem;
    gap: 10px 0;
}

.slider-number-label {
    grid-column: 1/5;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.slider {
    grid-column: 1/4;
    grid-row: 2/3;
}

.slider-number {
    width: 40px;
    border: 2px solid #003459;
}

.border-number-label {
    grid-column: 1/5;
    grid-row: 3/4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.border-number {
    width: 40px;
    border: 2px solid #003459;
}

.border-slider {
    grid-column: 1/4;
    grid-row: 4/5;
}

.border-radio {
    margin: auto 0;
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    gap: 0 5px;
    grid-column: 1/4;
    grid-row: 5/6;
}

.border-colour-label {
    grid-column: 1/4;
    grid-row: 6/7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-block: 10px;
}

.grid-shadow {
    grid-template-rows: repeat(5, 30px);
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
    padding-inline: 1rem;
    gap: 10px 0;
}

.shadow-x-label,
.shadow-y-label,
.shadow-blur-label,
.shadow-spread-label,
.shadow-colour-label {
    grid-column: 1/5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.shadow-x-label {
    grid-row: 1/2;
}

.shadow-y-label {
    grid-row: 2/3;
}

.shadow-blur-label {
    grid-row: 3/4;
}

.shadow-spread-label {
    grid-row: 4/5;
}

.shadow-colour-label {
    grid-row: 5/6;
}


.action {
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.css-code {
    background-color: #b3bfb8;
    padding: 1rem;
    grid-column: 2 / 3;
    position: relative;
}

.css-code-block {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    height: 100%;
    font-weight: bold;
}


.box {
    background: #0077b6;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}



.box-hide {
    display: none;
}

.box-show {
    display: block;
}

.paste {
    padding: 1rem 2rem;
    position: absolute;
    bottom: 25px;
    right: 25px;
    background-color: #57cc99;
    z-index: 10;
    border-radius: 5px;
    border: 2px solid #10451d;
    cursor: pointer;
    font-weight: bold;

}

.copied {
    background-color: #22577a;
    color: white;

}


.css-name {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #003459;
    color: white;
    padding: 1rem;
    border-radius: 5px;
}

.css-name input {
    padding: 0.2rem;

}

.css-name-radio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0;
    gap: 0.5rem;
}


/* scroll bar */

/* width */
::-webkit-scrollbar {
    width: 10px;
    background-color: #efefef
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #003554;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #14213d;
    cursor: pointer;
}